.location .section#section2 .ifr-outer, .property .pixi-ctn-outer .pixi-ctn, .property .loc-box .loc-btn, .spinner, .badge-ctn .badge-thumb, .badge-ctn .badge-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari, Chrome */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  -o-user-select: none;
  /* Opera */
  user-select: none;
  /* Non-prefixed version */
}

html, body, div[ui-view] {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}
@media (max-width: 1024px) {
  body {
    overflow: auto;
  }
}

@media (max-width: 1024px) {
  .desktop-only {
    display: none !important;
  }
}

.tab-only {
  display: none !important;
}
@media (max-width: 1024px) {
  .tab-only {
    display: block !important;
  }
}

.menu {
  position: fixed;
  z-index: 1;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media (max-width: 1024px) {
  .menu {
    position: relative;
    -webkit-zoom: 0.7;
    /* Safari, Chrome */
    -khtml-zoom: 0.7;
    /* Konqueror HTML */
    -moz-zoom: 0.7;
    /* Firefox */
    -ms-zoom: 0.7;
    /* Internet Explorer/Edge */
    -o-zoom: 0.7;
    /* Opera */
    zoom: 0.7;
    /* Non-prefixed version */
    -moz-transform: scale(0.7, 0.7);
    -moz-transform-origin: left center;
  }
}
.menu .header .nav-link {
  color: #000;
}
.menu .header .nav-link:hover {
  color: #007bff;
}
.menu .loc-ctn {
  font-size: 2.5rem;
  position: relative;
  z-index: 1;
}
@media (max-width: 500px) {
  .menu .loc-ctn {
    font-size: 1.75rem;
    width: 70%;
  }
}
.menu .loc-ctn span {
  display: inline-block;
  white-space: nowrap;
}
.menu .loc-ctn .nav-link {
  color: #000;
  white-space: nowrap;
}
.menu .loc-ctn .nav-link:hover {
  color: #007bff;
}
.menu .right-icons {
  font-size: 2.5rem;
}
.menu .right-icons span {
  cursor: pointer;
}

.br-item {
  display: inline-block;
  vertical-align: top;
}

.info-ctn {
  position: relative;
}

.info-ctn-inner {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow-y: scroll;
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.info-ctn-inner i {
  font-size: 1.5rem;
  color: rgba(127, 127, 127, 0.7);
}

.nano {
  -ms-overflow-style: none;
}
.nano .nano-content {
  padding-top: 10px;
}
.nano .nano-pane {
  background: #888;
}
.nano .nano-slider {
  background: #111;
}

.carousel-inner {
  z-index: 0;
}

.carousel-item div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 1;
  width: 10%;
  transition: all 0.3s;
}

@media (max-width: 500px) {
  .carousel-control-prev {
    left: 0;
  }
}

@media (max-width: 500px) {
  .carousel-control-next {
    right: 0;
  }
}

#car-full .carousel-item div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#car-full .carousel-control-next,
#car-full .carousel-control-prev {
  width: 7%;
}
@media (max-width: 500px) {
  #car-full .carousel-control-prev {
    left: 20px;
  }
}
@media (max-width: 500px) {
  #car-full .carousel-control-next {
    right: 20px;
  }
}

.btn-exp {
  position: absolute;
  top: -50px;
  right: 0px;
  z-index: 3;
  transition: all 0.3s;
  opacity: 0.7;
}
@media (max-width: 1368px) {
  .btn-exp {
    top: -50px;
  }
}
.btn-exp i {
  font-size: 2.5rem;
  color: #fff;
}
@media (max-width: 1368px) {
  .btn-exp i {
    font-size: 1.5rem;
  }
}
.btn-exp:hover {
  opacity: 1;
}

.img-overlay-ctn {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  text-align: center;
}
.img-overlay-ctn .loc-info {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 4;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-bottom-right-radius: 10px;
}
@media (max-width: 500px) {
  .img-overlay-ctn .loc-info {
    width: 80%;
    text-align: left;
    z-index: 1;
  }
}
.img-overlay-ctn img {
  width: 38px;
  height: 38px;
  animation-name: spinning;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.img-overlay-ctn img.spinner-img {
  margin-top: -50px;
  margin-left: -50px;
  position: absolute;
  top: 50%;
  width: 100px;
  height: 100px;
  animation-duration: 3s;
}

.badge-ctn {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
}
@media (max-width: 500px) {
  .badge-ctn {
    margin-right: 1rem;
    margin-top: 1rem;
  }
}
.badge-ctn .badge-pill {
  -webkit-transition: box-shadow 0.2s;
  /* Safari, Chrome */
  -khtml-transition: box-shadow 0.2s;
  /* Konqueror HTML */
  -moz-transition: box-shadow 0.2s;
  /* Firefox */
  -ms-transition: box-shadow 0.2s;
  /* Internet Explorer/Edge */
  -o-transition: box-shadow 0.2s;
  /* Opera */
  transition: box-shadow 0.2s;
  /* Non-prefixed version */
  cursor: pointer;
  font-size: 2vw;
  height: 5vw;
  width: 5vw;
  border: 2px solid rgba(0, 0, 0, 0.47);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.47);
  margin-bottom: 1vw;
}
@media (max-width: 1024px) {
  .badge-ctn .badge-pill {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .badge-ctn .badge-pill {
    font-size: 6vw;
    height: 10vw;
    width: 10vw;
  }
}
.badge-ctn .badge-pill:hover {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.8);
}
.badge-ctn .badge-pill .pill-text {
  position: relative;
  font-size: 1.25vw;
  top: -0.5vw;
}
@media (max-width: 1024px) {
  .badge-ctn .badge-pill .pill-text {
    display: none;
  }
}
.badge-ctn .badge-thumb img {
  height: 2.75vw;
}
.badge-ctn .badge-filter i {
  font-size: 2.75vw;
}
@media (max-width: 500px) {
  .badge-ctn .badge-filter i {
    font-size: 5vw;
  }
}
.badge-ctn .filter-outer {
  position: relative;
}
.badge-ctn .filter-outer .filter-close {
  position: absolute;
  top: -5px;
  right: -8px;
  height: 30px;
  width: 30px;
  background: red;
  border-radius: 30px;
  font-size: 1.35rem;
  padding-top: 2px;
}
@media (max-width: 1024px) {
  .badge-ctn .filter-outer .filter-close {
    height: 20px;
    width: 20px;
    font-size: 0.75rem;
  }
}
.badge-ctn .filter-outer .filter-close i {
  font-size: 1.15vw;
}
@media (max-width: 1024px) {
  .badge-ctn .filter-outer .filter-close i {
    font-size: 1.75vw;
  }
}
@media (max-width: 500px) {
  .badge-ctn .filter-outer .filter-close i {
    font-size: 3.25vw;
  }
}
.badge-ctn .filter-outer .filter-ctn {
  position: absolute;
  top: 0px;
  left: -240px;
  border-radius: 0.5rem;
  background: #fff;
  width: auto;
  border: 2px solid #5398a8;
  text-align: left;
}
.badge-ctn .filter-outer .filter-ctn .btn {
  margin: 5px;
}

.spinner {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}
.spinner.sp-sec {
  opacity: 1;
  top: 12rem;
  height: calc(100% - 12rem);
}
@media (max-width: 500px) {
  .spinner.sp-sec {
    top: 8rem;
    height: calc(100% - 8rem);
  }
}
.spinner img {
  width: 38px;
  height: 38px;
  animation-name: spinning;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.spinner img.spinner-img {
  margin-top: -50px;
  margin-left: -50px;
  position: absolute;
  top: 50%;
  width: 100px;
  height: 100px;
  animation-duration: 3s;
}

@-webkit-keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-ms-keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.carousel-inner .carousel-item {
  -webkit-transition: transform 0.5s ease;
  /* Safari, Chrome */
  -khtml-transition: transform 0.5s ease;
  /* Konqueror HTML */
  -moz-transition: transform 0.5s ease;
  /* Firefox */
  -ms-transition: transform 0.5s ease;
  /* Internet Explorer/Edge */
  -o-transition: transform 0.5s ease;
  /* Opera */
  transition: transform 0.5s ease;
  /* Non-prefixed version */
}

.property #section0 {
  padding-top: 7rem;
}
@media (max-width: 1024px) {
  .property #section0 {
    padding-top: 2rem;
  }
}
.property .loc-box {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  height: 20rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 1368px) and (min-width: 1025px) {
  .property .loc-box {
    height: 15rem;
  }
}
@media (max-width: 500px) {
  .property .loc-box {
    height: 15rem;
  }
}
.property .loc-box.hovered, .property .loc-box.clicked {
  outline: 5px solid #2876f7;
}
.property .loc-box.active .loc-opts {
  bottom: 0;
}
.property .loc-box.active .carousel-control-prev {
  left: 0;
}
.property .loc-box.active .carousel-control-next {
  right: 0;
}
.property .loc-box.active .btn-exp {
  top: 0;
}
.property .loc-box .loc-opts {
  position: absolute;
  left: 0px;
  bottom: -70px;
  z-index: 2;
  transition: bottom 0.3s;
}
@media (max-width: 1368px) and (min-width: 1025px) {
  .property .loc-box .loc-opts {
    bottom: -50px;
  }
}
@media (max-width: 500px) {
  .property .loc-box .loc-opts {
    bottom: -50px;
  }
}
.property .loc-box .loc-title {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}
@media (max-width: 1368px) and (min-width: 1025px) {
  .property .loc-box .loc-title {
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  .property .loc-box .loc-title {
    font-size: 24px;
  }
}
.property .loc-box .loc-btn {
  padding-top: 5px;
  height: 70px;
  background: rgba(190, 190, 190, 0.9);
}
@media (max-width: 1368px) and (min-width: 1025px) {
  .property .loc-box .loc-btn {
    height: 50px;
  }
}
@media (max-width: 500px) {
  .property .loc-box .loc-btn {
    height: 50px;
  }
}
.property .loc-box .loc-btn-sng {
  font-weight: bold;
  margin: 0 1rem;
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.5s;
}
@media (max-width: 1600px) and (min-width: 1025px) {
  .property .loc-box .loc-btn-sng {
    font-size: 0.75rem;
    margin: 0 0.5rem;
  }
}
@media (max-width: 500px) {
  .property .loc-box .loc-btn-sng {
    font-size: 0.75rem;
    margin: 0 0.35rem;
  }
}
.property .loc-box .loc-btn-sng i {
  transition: color 0.5s;
  color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 1368px) and (min-width: 1025px) {
  .property .loc-box .loc-btn-sng i {
    font-size: 0.75rem;
  }
}
@media (max-width: 500px) {
  .property .loc-box .loc-btn-sng i {
    font-size: 0.75rem;
  }
}
.property .loc-box .loc-btn-sng:hover, .property .loc-box .loc-btn-sng:hover i {
  color: black;
}
.property .carousel-control-prev {
  left: -50px;
}
@media (max-width: 1024px) {
  .property .carousel-control-prev {
    left: -70px;
  }
}
.property .carousel-control-next {
  right: -50px;
}
@media (max-width: 1024px) {
  .property .carousel-control-next {
    right: -70px;
  }
}
.property .carousel-control-next-icon,
.property .carousel-control-prev-icon {
  width: 40px;
  height: 40px;
}
.property #car-full .carousel-control-prev {
  left: 0;
}
@media (max-width: 1024px) {
  .property #car-full .carousel-control-prev {
    left: 20px;
  }
}
.property #car-full .carousel-control-next {
  right: 0;
}
@media (max-width: 1024px) {
  .property #car-full .carousel-control-next {
    right: 20px;
  }
}
.property #car-full .carousel-control-prev-icon,
.property #car-full .carousel-control-next-icon {
  height: 70px;
  width: 70px;
}
@media (max-width: 500px) {
  .property #car-full .carousel-control-prev-icon,
.property #car-full .carousel-control-next-icon {
    transform: scale(2);
  }
}
@media (max-width: 1024px) {
  .property .pixi-ctn-outer {
    display: none;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}
.property .pixi-ctn-outer .pixi-ctn {
  position: relative;
  background: grey;
}
.property .pixi-ctn-outer .pixi-ctn .badge-ctn {
  display: none;
  z-index: 1;
}
@media (max-width: 1024px) {
  .property .pixi-ctn-outer .pixi-ctn .badge-ctn {
    display: block;
  }
}
.property .pixi-ctn-outer .pixi-ctn img.logo-img {
  position: absolute;
  bottom: 25px;
  right: 25px;
  display: block;
  z-index: 1;
  height: 100px;
}
@media (max-width: 1024px) {
  .property .pixi-ctn-outer .pixi-ctn img.logo-img {
    height: 70px;
  }
}
.property .pixi-ctn-outer .pixi-ctn .loader {
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  /* Safari, Chrome */
  -khtml-transform: translateZ(0);
  /* Konqueror HTML */
  -moz-transform: translateZ(0);
  /* Firefox */
  -ms-transform: translateZ(0);
  /* Internet Explorer/Edge */
  -o-transform: translateZ(0);
  /* Opera */
  transform: translateZ(0);
  /* Non-prefixed version */
}
.property .pixi-ctn-outer .pixi-ctn .loader:before, .property .pixi-ctn-outer .pixi-ctn .loader:after {
  border-radius: 50%;
  content: "";
  width: 5.2em;
  height: 10.2em;
  background: grey;
}
.property .pixi-ctn-outer .pixi-ctn .loader:before {
  border-radius: 10.2em 0 0 10.2em;
  position: absolute;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  /* Safari, Chrome */
  -khtml-transform-origin: 5.2em 5.1em;
  /* Konqueror HTML */
  -moz-transform-origin: 5.2em 5.1em;
  /* Firefox */
  -ms-transform-origin: 5.2em 5.1em;
  /* Internet Explorer/Edge */
  -o-transform-origin: 5.2em 5.1em;
  /* Opera */
  transform-origin: 5.2em 5.1em;
  /* Non-prefixed version */
  -webkit-animation: spinning 2s infinite ease 1.5s;
  /* Safari, Chrome */
  -khtml-animation: spinning 2s infinite ease 1.5s;
  /* Konqueror HTML */
  -moz-animation: spinning 2s infinite ease 1.5s;
  /* Firefox */
  -ms-animation: spinning 2s infinite ease 1.5s;
  /* Internet Explorer/Edge */
  -o-animation: spinning 2s infinite ease 1.5s;
  /* Opera */
  animation: spinning 2s infinite ease 1.5s;
  /* Non-prefixed version */
}
.property .pixi-ctn-outer .pixi-ctn .loader:after {
  border-radius: 0 10.2em 10.2em 0;
  position: absolute;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  /* Safari, Chrome */
  -khtml-transform-origin: 0px 5.1em;
  /* Konqueror HTML */
  -moz-transform-origin: 0px 5.1em;
  /* Firefox */
  -ms-transform-origin: 0px 5.1em;
  /* Internet Explorer/Edge */
  -o-transform-origin: 0px 5.1em;
  /* Opera */
  transform-origin: 0px 5.1em;
  /* Non-prefixed version */
  -webkit-animation: spinning 2s infinite ease;
  /* Safari, Chrome */
  -khtml-animation: spinning 2s infinite ease;
  /* Konqueror HTML */
  -moz-animation: spinning 2s infinite ease;
  /* Firefox */
  -ms-animation: spinning 2s infinite ease;
  /* Internet Explorer/Edge */
  -o-animation: spinning 2s infinite ease;
  /* Opera */
  animation: spinning 2s infinite ease;
  /* Non-prefixed version */
}

@media (max-width: 1024px) {
  .location {
    height: 100%;
  }
}
.location .pull-down-ctn {
  cursor: default;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid black;
  line-height: 1.1;
  position: relative;
  top: -3px;
  padding-bottom: 5px;
}
@media (max-width: 500px) {
  .location .pull-down-ctn {
    padding-top: 5px;
    margin-bottom: 15px;
  }
}
.location .pull-down-ctn i {
  font-size: 1.5rem;
  position: relative;
  top: -5px;
}
@media (max-width: 500px) {
  .location .pull-down-ctn i {
    top: 0;
  }
}
.location .pull-down-ctn .pull-down-opt-ctn {
  position: absolute;
  top: 3.1rem;
  left: 0rem;
  width: 470px;
  border: 1px solid #000;
  background: #fff;
  color: #000;
  font-size: 1.75rem;
}
@media (max-width: 1024px) {
  .location .pull-down-ctn .pull-down-opt-ctn {
    top: 2.2rem;
  }
}
@media (max-width: 500px) {
  .location .pull-down-ctn .pull-down-opt-ctn {
    top: 1.65rem;
    width: 122vw;
    z-index: 1;
  }
}
.location .pull-down-ctn .pull-down-opt-ctn .pull-down-opt {
  position: relative;
}
.location .pull-down-ctn .pull-down-opt-ctn .pull-down-opt:hover {
  background: #3297FD;
  color: #fff;
}
.location .pull-down-ctn .pull-down-opt-ctn .pull-down-opt .select-opt-preview {
  width: 400px;
  height: 250px;
  position: absolute;
  left: 100%;
  top: -50px;
  box-sizing: border-box;
  border: 5px solid #3297FD;
  z-index: 1;
}
.location .btn-skyblue {
  background-color: #91e0f2 !important;
  color: #000 !important;
}
.location .btn-skyblue:hover {
  background-color: #5398a8 !important;
  color: #fff !important;
}
.location .btn-skyblue:hover img {
  filter: invert(100%);
  -webkit-transition: filter 0.5s;
  /* Safari, Chrome */
  -khtml-transition: filter 0.5s;
  /* Konqueror HTML */
  -moz-transition: filter 0.5s;
  /* Firefox */
  -ms-transition: filter 0.5s;
  /* Internet Explorer/Edge */
  -o-transition: filter 0.5s;
  /* Opera */
  transition: filter 0.5s;
  /* Non-prefixed version */
}
.location .btn-ctn {
  position: relative;
  z-index: 0;
}
@media (max-width: 700px) {
  .location .btn-ctn {
    display: none;
  }
}
.location .btn-ctn div {
  display: inline-block;
}
.location .btn-ctn div[data-menuanchor].active .btn-skyblue {
  background-color: #5398a8 !important;
  color: #fff !important;
}
.location .btn-ctn div[data-menuanchor].active .btn-skyblue img {
  filter: invert(100%);
  -webkit-transition: filter 0.5s;
  /* Safari, Chrome */
  -khtml-transition: filter 0.5s;
  /* Konqueror HTML */
  -moz-transition: filter 0.5s;
  /* Firefox */
  -ms-transition: filter 0.5s;
  /* Internet Explorer/Edge */
  -o-transition: filter 0.5s;
  /* Opera */
  transition: filter 0.5s;
  /* Non-prefixed version */
}
.location .btn-ctn div .filter-btn {
  position: relative;
  font-size: 20px;
  padding: 0.2rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.location .btn-ctn div .filter-btn .filter-close {
  position: absolute;
  top: -8px;
  right: -8px;
  height: 20px;
  width: 20px;
  background: red;
  border-radius: 10px;
  font-size: 0.75rem;
}
.location .btn-ctn .filter-ctn {
  position: absolute;
  top: 40px;
  left: 0px;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 45vw;
  background: #fff;
  border: 2px solid #5398a8;
}
@media (max-width: 1024px) {
  .location .btn-ctn .filter-ctn {
    width: 80vw;
  }
}
.location .btn-ctn .filter-ctn .btn.btnActive {
  background: grey;
  color: #fff;
}
@media (max-width: 1024px) {
  .location .btn-ctn .filter-ctn .btn-secondary {
    margin-top: 1rem;
  }
}
.location .btn-ctn-mob {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  padding: 20px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.47);
  z-index: 2;
  width: 100%;
  background: #fff;
  /* height: 150px; */
}
.location .btn-ctn-mob div {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 1024px) {
  .location #fullpage {
    height: 100%;
  }
}
.location .section {
  padding-top: 12rem;
}
@media (max-width: 1024px) {
  .location .section {
    height: auto;
    padding-top: 0;
    margin-top: 5rem;
  }
}
.location .section.beforeinit {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.location .section.test {
  opacity: 1;
  z-index: 1;
}
.location .section .carousel-control-next-icon,
.location .section .carousel-control-prev-icon {
  width: 70px;
  height: 70px;
}
.location .section .btn-exp {
  top: 0;
  padding: 1.5rem;
}
@media (max-width: 500px) {
  .location .section .btn-exp {
    padding: 0.5rem;
  }
}
@media (max-width: 1368px) and (min-width: 768px) {
  .location .section .btn-exp i {
    font-size: 2.5rem;
  }
}
@media (max-width: 1024px) {
  .location .section .carousel-ctn {
    margin-bottom: 20px;
  }
}
@media (max-width: 1024px) {
  .location .section .carousel-ctn .carousel-plh {
    height: 450px !important;
    position: relative;
  }
}
@media (max-width: 500px) {
  .location .section .carousel-ctn .carousel-plh {
    height: 250px !important;
  }
}
.location .section .thumb-ctn {
  height: 100%;
  border-left: 2px dotted #000;
}
@media (max-width: 1024px) {
  .location .section .thumb-ctn {
    display: none;
  }
}
.location .section .thumb-ctn .nano-content {
  padding: 10px;
  padding-top: 0;
}
@media (max-width: 768px) {
  .location .section .thumb-ctn .nano-content {
    margin-top: 20px;
    text-align: center;
  }
}
.location .section .thumb-ctn .nano-content .thumb-single {
  cursor: pointer;
  margin-right: 0.5rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  .location .section .thumb-ctn .nano-content .thumb-single {
    width: 230px;
    display: inline-block;
    margin-bottom: 0.5rem;
  }
}
.location .section .thumb-ctn .nano-content .thumb-single .img-thumbnail {
  transition: background-color 0.2s;
}
.location .section .thumb-ctn .nano-content .thumb-single .img-thumbnail:hover, .location .section .thumb-ctn .nano-content .thumb-single .img-thumbnail.active {
  background-color: #2876f7;
}
.location .section#section0 {
  overflow-y: visible;
}
@media (max-width: 1024px) {
  .location .section#section0 {
    margin-top: 2rem;
  }
}
.location .section#section0 .main-ctn {
  height: 85%;
}
@media (max-width: 1024px) {
  .location .section#section0 .main-ctn {
    height: 100%;
    width: 100%;
    margin: 0;
  }
}
.location .section#section0 .main-ctn .info-ctn {
  height: 100%;
}
@media (max-width: 1024px) {
  .location .section#section0 .main-ctn .info-ctn {
    overflow: visible;
    padding: 0 0.5rem;
  }
}
.location .section#section0 .main-ctn .info-ctn .info-ctn-inner {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (max-width: 1024px) {
  .location .section#section0 .main-ctn .info-ctn .info-ctn-inner {
    position: relative;
    overflow-y: auto;
    height: unset;
    padding: 0;
  }
}
.location .section#section0 .more-info-btn {
  text-align: center;
  background: #fff;
  cursor: pointer;
}
@media (max-width: 500px) {
  .location .section#section0 .more-info-btn {
    transform: scale(0.7);
  }
}
@media (max-width: 500px) {
  .location .section#section0 .cont-btn {
    transform: scale(0.7) translateY(-50px);
  }
}
.location .section#section0 .high-text {
  border-left: 5px solid yellow;
  color: #706565;
  background: rgba(128, 128, 128, 0.08);
}
@media (max-width: 1024px) {
  .location .section#section0 .main-img-ctn-outer {
    height: 350px;
    padding: 1.5rem 0.5rem;
  }
}
@media (max-width: 768px) {
  .location .section#section0 .main-img-ctn-outer {
    height: 300px;
  }
}
.location .section#section0 .main-img-ctn-outer .main-img-ctn {
  background-size: cover;
  background-position: 50% 50%;
}
.location .section#section1 {
  overflow: hidden;
}
.location .section#section2 {
  color: #fff;
}
.location .section#section2 .ifr-outer {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  color: #fff;
}
.location .section#section2 .ifr-inner .ins-ctn {
  width: 60vh;
  background: #fff;
  color: #000;
  border-radius: 5px;
  font-weight: 500;
  position: relative;
  left: 30vh;
  opacity: 0;
}
.location .section#section2 .ifr-inner .ins-ctn h4 {
  color: #2db4d2;
  text-shadow: 0px 0px 2px #000;
}
.location .section#section2 .ifr-inner .ins-ctn p.note {
  font-size: 1.15rem;
}
.location .section#section2 .ifr-inner .ins-ctn p.anim-note {
  animation-name: note-anim;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes note-anim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes note-anim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-ms-keyframes note-anim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes note-anim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes note-anim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.location .section#section2 .ifr-inner .ins-ctn button {
  font-weight: 600;
}
.location .section#section2 .ifr-inner .ins-ctn img {
  height: 120px;
  margin: 0.5rem 1.5rem;
}
.location .section#section2 .ifr-inner .ins-ptr {
  width: 150px;
  display: none;
  position: relative;
  top: 25vh;
  opacity: 0;
}
.location .section#section2 .ifr-inner .ins-ptr img {
  height: 150px;
}
.location .section#section2 .ifr-ctn {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  height: 100%;
  width: 100%;
}
@media (max-width: 1024px) {
  .location .section#section2 .ifr-ctn {
    position: relative;
    height: auto;
    z-index: 0;
    padding: 1.5rem;
    padding-top: 0;
  }
}
.location .section#section2 .ifr-ctn iframe {
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (max-width: 1024px) {
  .location .section#section2 .ifr-ctn iframe {
    position: relative;
    height: 450px !important;
  }
}
@media (max-width: 500px) {
  .location .section#section2 .ifr-ctn iframe {
    height: 250px !important;
  }
}
.location .section#section3 .btn-exp i, .location .section#section4 .btn-exp i {
  color: #000;
}
.location .section#section3 .carousel-control-next-icon,
.location .section#section3 .carousel-control-prev-icon, .location .section#section4 .carousel-control-next-icon,
.location .section#section4 .carousel-control-prev-icon {
  filter: invert(100%);
}
.location .section#section6 .form-group label {
  font-weight: bold;
}
.location #book-now-ctn {
  z-index: 2;
  overflow-y: auto;
  width: 35%;
  height: 70%;
  position: fixed;
  left: -35%;
  top: 12rem;
  background: #94c887;
  border: 2px solid #28a745;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.7);
}
.location #book-now-ctn .badge-pill {
  top: 0.75rem;
  right: 0.75rem;
  -webkit-transform: scale(0.7, 0.7);
  /* Safari, Chrome */
  -khtml-transform: scale(0.7, 0.7);
  /* Konqueror HTML */
  -moz-transform: scale(0.7, 0.7);
  /* Firefox */
  -ms-transform: scale(0.7, 0.7);
  /* Internet Explorer/Edge */
  -o-transform: scale(0.7, 0.7);
  /* Opera */
  transform: scale(0.7, 0.7);
  /* Non-prefixed version */
  -webkit-transform-origin: right top;
  /* Safari, Chrome */
  -khtml-transform-origin: right top;
  /* Konqueror HTML */
  -moz-transform-origin: right top;
  /* Firefox */
  -ms-transform-origin: right top;
  /* Internet Explorer/Edge */
  -o-transform-origin: right top;
  /* Opera */
  transform-origin: right top;
  /* Non-prefixed version */
}
.location #book-now-ctn .enq-form label {
  font-weight: bold;
}
.location #car-full .carousel-control-prev-icon,
.location #car-full .carousel-control-next-icon {
  height: 70px;
  width: 70px;
}

/*# sourceMappingURL=styles.css.map */
