<h5>Location Type - Back Lot</h5>
<div class="row mt-4">     
  <div class="col-1 text-center pr-0">
    <i class="fa fa-building"></i>
  </div>
  <div class="col-11 info-hold"> 
    Event Space/Rooftop, Gallery/Museum, Industrial Land/Buildings, Office, Warehouse
  </div>
</div>
<div class="row mt-4">     
  <div class="col-1 text-center pr-0">
    <i class="fa fa-university"></i>  
  </div>
  <div class="col-11 info-hold">   
    Industrial
  </div>
</div>
<p class="mt-4">
  Industrial, open warehouse with offices and holding areas. Great space for building multiple fil/photo sets while allowing ample space for lighting, grip and holding.
</p>
<p class="mt-4">
  Meat locker with metal walls makes for a great shooting location or holding area.
</p>
<a href="#">Show more</a>

<h5 class="mt-4">Features</h5>
<div class="row mt-4">     
  <div class="col">
    Exposed Beams 
  </div>
  <div class="col">   
    Roller Garage Door
  </div>
</div>
<div class="row mt-2">     
  <div class="col">
    High Ceiling
  </div>
  <div class="col">   
    Steel Doors
  </div>
</div>
<div class="row mt-2">     
  <div class="col">
    Studio Space/Equipment
  </div>
  <div class="col">   
    Wood Doors
  </div>
</div>
<div class="row mt-2">     
  <div class="col">
    Storage/Bulk Warehouse
  </div>
  <div class="col">   
    Industrial Warehouse
  </div>
</div>
<div class="row mt-2">     
  <div class="col">
    Wood-Paneled Walls
  </div>
  <div class="col">   
    Tiled Walls
  </div>
</div>
<div class="row mt-2">     
  <div class="col">
    Exposed Beams 
  </div>
  <div class="col">
    Concrete Floor
  </div>
</div>

<h5 class="mt-4">Permit Zone</h5>
<p class="high-text pl-4 pr-0 mt-4">Address most likely falls into the below permit zone. Please confirm with the host.</p>
<p class="pl-4 mt-4">
  <div class="pl-4">                    
    <h5 >Los Angeles</h5>
    Film L.A.<br/>
    Phone: (213) 977-8600
  </div>
</p>

<h5 class="mt-4">Parking</h5>
<div class="row mt-4">     
  <div class="col">
    Private parking for 5 cars
  </div>
</div>
<div class="row mt-2">     
  <div class="col">
    Truck / motorhome on site parking: On property, Street                    
  </div>
</div>
<div class="row mt-2">     
  <div class="col">
    Available parking lot or parking structure nearby
  </div>
</div>
<div class="desktop-only row my-4">     
  <div class="col">
  </div>
</div>
<div class="desktop-only row my-4">     
  <div class="col">
  </div>
</div>
<div class="desktop-only row my-4">     
  <div class="col">
  </div>
</div>