<div class="location" ng-click="hideFilter($event)">  
  <div class="menu pt-2">
    <div class="container-fluid px-4">
      <div class="header">
        <div class="br-item" ng-repeat="o in options.titleArr">
          <a href class="nav-link p-0 d-inline-block">{{o}}</a>&nbsp;/&nbsp;
        </div>
        <a ui-sref="property({ propertyName: loc.parent })" class="p-0 d-inline-block nav-link position-relative" style="left:-5px;">{{options.currProperty.name}}</a>
      </div>
      <div class="pull-right right-icons">
        <span ng-click="showMobileMenu()">            
          <i class="fa fa-bars"></i>
        </span>
        <span class="ml-2">            
          <i class="fa fa-user"></i>
        </span>
      </div>
      <div class="loc-ctn mt-2">
        <div class="pull-down-ctn px-2" ng-click="toggleViewSelectOpts()">
          <div class="pull-down-selected">
            {{loc.value}} <i class="fa fa-angle-down"></i>
          </div>
          <div class="pull-down-opt-ctn" 
              ng-show="options.showSelectOpts"
              ng-mouseleave="options.showPreview = false">
            <div class="pull-down-opt py-2 px-2" ng-repeat="l in options.locations track by $index" 
              ng-mouseenter="hoverOption(l, $index)" 
              ng-click="selectLocation(l, true)">
              {{l.value}}
              <div class="select-opt-preview"
                  ng-show="$index === options.currHover && options.showPreview"
                  ng-style="{
                    'background-image': 'url('+ options.previewImg +')'
                  }"
                  style="
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    background-color: #fff;
                  ">              
              </div>
            </div>
          </div>
        </div>
        <span>
          at 
          <a ui-sref="property({ propertyName: loc.parent })" class="p-0 d-inline-block nav-link position-relative" style="top:0.5px;">
            {{options.currProperty.name}}
          </a>
        </span>
      </div>
      <div class="btn-ctn mt-4">
        <div>
          <a class="btn btn-success bookNowBtn" href ng-click="toggleBookNow()"><i class="fa fa-bookmark"></i>&nbsp;&nbsp;Book Now</a>
        </div>
        <div class="ml-2" ng-click="moveToSection('info')" data-menuanchor="info">
          <a class="btn btn-skyblue">Info</a>
        </div>
        <div class="ml-2 btn-group" ng-click="moveToSection('images')"  data-menuanchor="images">
          <a class="btn btn-skyblue" href ng-click="options.showThumbnails = false" style="margin-right: -2px;">Images</a>
          <!-- <a class="btn btn-skyblue" href ng-click="toggleThumbGallery()" style="width: 50px; margin-right: -2px;"><img src="img/thumb-new.png" ng-hide="options.showThumbnails" height="20" style="position: relative; top: -2px;"/><img src="img/arrows.png" ng-show="options.showThumbnails" height="20" style="position: relative; top: -2px; left:-2px;"/></a> -->
          <a class="btn btn-skyblue filter-btn" href ng-click="options.showFilter = !options.showFilter">
            <i class="fa fa-sliders" style="position: relative; top: -1px;"></i>
            <div class="filter-close text-white" ng-show="options.currFilter!='all'" ng-click="filterImages('all', 0)">
              <i class="fa fa-times"></i>
            </div>
          </a>
        </div>
        <div class="filter-ctn px-4 py-4" ng-show="options.showFilter" ng-mouseleave="options.showFilter = false">
          <button class="mr-2 btn btn-light btn-sm" ng-click="filterImages('all', 0)" ng-class="{'btnActive' : options.currFilter == 'all'}">All Images</button>
          <button class="mr-2 btn btn-light btn-sm">Interiors</button>
          <button class="mr-2 btn btn-light btn-sm">Exteriors</button>
          <button class="mr-2 btn btn-light btn-sm">Walls</button>
          <button class="mr-2 btn btn-light btn-sm">Ceilings</button>
          <button class="mr-2 btn btn-light btn-sm">Floors</button>
          <button class="mr-2 btn btn-light btn-sm" ng-click="filterImages('stair', 0)" ng-class="{'btnActive' : options.currFilter == 'stair'}">Stairways</button>
          <button class="mr-2 btn btn-light btn-sm">Bathrooms</button>
          <button class="mr-2 btn btn-light btn-sm">Parking</button>
        </div>
        <div class="ml-2" ng-click="moveToSection('3dvr')" data-menuanchor="3dvr">
          <a class="btn btn-skyblue" href>3DVR</a>
        </div>
        <div class="ml-2" ng-click="moveToSection('floorplan')" data-menuanchor="floorplan">
          <a class="btn btn-skyblue" href>Floorplan</a>
        </div>
        <div class="ml-2" ng-click="moveToSection('maps')" data-menuanchor="maps">
          <a class="btn btn-skyblue" href>Maps</a>
        </div> 
        <div class="ml-2" ng-click="moveToSection('services')" data-menuanchor="services">
          <a class="btn btn-skyblue" href>Services</a>
        </div>
        <div class="ml-2">
          <a class="btn btn-light"><i class="fa fa-star"></i></a>
          <a class="btn btn-light"><i class="fa fa-share-alt"></i></a>
          <a class="btn btn-light"><i class="fa fa-download"></i></a>
        </div>
      </div>
      <div class="btn-ctn-mob">
        <div class="badge-ctn">
          <span class="badge badge-light badge-pill" ng-click="closeMobileMenu()">
            <i class="fa fa-times"></i>
          </span>
        </div>
        <div>
          <a class="btn btn-success bookNowBtn" href ng-click="toggleBookNow()"><i class="fa fa-bookmark"></i>&nbsp;&nbsp;Book
            Now</a>
        </div>
        <div ng-click="moveToSection('info')" data-menuanchor="info">
          <a class="btn btn-skyblue">Info</a>
        </div>
        <div class="btn-group" ng-click="moveToSection('images')" data-menuanchor="images">
          <a class="btn btn-skyblue" href ng-click="options.showThumbnails = false" style="margin-right: -2px;">Images</a>
          <!-- <a class="btn btn-skyblue" href ng-click="toggleThumbGallery()" style="width: 50px; margin-right: -2px;"><img
              src="img/thumb-new.png" ng-hide="options.showThumbnails" height="20" style="position: relative; top: -2px;" /><img
              src="img/arrows.png" ng-show="options.showThumbnails" height="20"
              style="position: relative; top: -2px; left:-2px;" /></a> -->
          <a class="btn btn-skyblue filter-btn" href ng-click="options.showFilter = !options.showFilter">
            <i class="fa fa-sliders" style="position: relative; top: -1px;"></i>
            <div class="filter-close text-white" ng-show="options.currFilter!='all'" ng-click="filterImages('all', 0)">
              <i class="fa fa-times"></i>
            </div>
          </a>
        </div>
        <div class="filter-ctn px-4 py-4" ng-show="options.showFilter" ng-mouseleave="options.showFilter = false">
          <button class="mr-2 btn btn-light btn-sm" ng-click="filterImages('all', 0)"
            ng-class="{'btnActive' : options.currFilter == 'all'}">All Images</button>
          <button class="mr-2 btn btn-light btn-sm">Interiors</button>
          <button class="mr-2 btn btn-light btn-sm">Exteriors</button>
          <button class="mr-2 btn btn-light btn-sm">Walls</button>
          <button class="mr-2 btn btn-light btn-sm">Ceilings</button>
          <button class="mr-2 btn btn-light btn-sm">Floors</button>
          <button class="mr-2 btn btn-light btn-sm" ng-click="filterImages('stair', 0)"
            ng-class="{'btnActive' : options.currFilter == 'stair'}">Stairways</button>
          <button class="mr-2 btn btn-light btn-sm">Bathrooms</button>
          <button class="mr-2 btn btn-light btn-sm">Parking</button>
        </div>
        <div ng-click="moveToSection('3dvr')" data-menuanchor="3dvr">
          <a class="btn btn-skyblue" href>3DVR</a>
        </div>
        <div ng-click="moveToSection('floorplan')" data-menuanchor="floorplan">
          <a class="btn btn-skyblue" href>Floorplan</a>
        </div>
        <div ng-click="moveToSection('maps')" data-menuanchor="maps">
          <a class="btn btn-skyblue" href>Maps</a>
        </div>
        <div ng-click="moveToSection('services')" data-menuanchor="services">
          <a class="btn btn-skyblue" href>Services</a>
        </div>
        <div>
          <a class="btn btn-light"><i class="fa fa-star"></i></a>
          <a class="btn btn-light"><i class="fa fa-share-alt"></i></a>
          <a class="btn btn-light"><i class="fa fa-download"></i></a>
        </div>
      </div>
    </div>    
  </div>

  <div id="fullpage">
    <div class="section" id="section0">
      <div class="container-fluid h-100">
        <div class="row main-ctn">
          <div class="col-lg-12 main-img-ctn-outer tab-only">
            <div class="h-100 w-100 main-img-ctn" 
              ng-style="{
                'background-image': 'url('+ loc.baseFolder + loc.imgs.main +')'
              }">
            </div>
          </div>
          <div class="col-xl-4 info-ctn nano">
            <div class="info-ctn-inner nano-content">
              <ng-include src="loc.infoHtml"></ng-include>
            </div>              
          </div>
          <div class="col-xl-8 main-img-ctn-outer desktop-only">
            <a href ng-click="moveToSection('images')">
              <div class="h-100 w-100 main-img-ctn" 
                ng-style="{
                  'background-image': 'url('+ loc.baseFolder + loc.imgs.main +')'
                }">
              </div>
            </a>
          </div>
        </div>
        <div class="row desktop-only">
          <div class="col-md-4">
            <div class="more-info-btn" ng-click="showMoreInfo()">
              <h3>                
                More Info<br/>
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-chevron-up"></i>
              </h3>
            </div>
            <div class="cont-btn w-100 text-center">
              <h3>
                Continue to Images
                <!-- <i class="fa fa-chevron-down"></i> -->
              </h3>
            </div>
          </div>
          <div class="col-md-8">
          </div>
        </div>
      </div>
    </div>

    <div class="section" id="section1">
      <div class="container-fluid h-100 px-4 pb-4">

        <!-- Main Slider -->
        <div class="row h-100">
          <div class="col-xl-9 carousel-ctn">
            <h3 class="tab-only mb-4">Location Images</h3>
            <!-- Slider Carousel -->
            <div id="car-main" class="carousel-plh h-100" data-interval="false">
            
              <!-- Slides -->
              <div class="carousel-inner h-100">
                <div class="carousel-item h-100" 
                  ng-repeat="i in images.all.imgArr track by $index"
                  ng-class="{'active': images.all.idx === $index}">
                  <div class="h-100 w-100" 
                    ng-style="{
                      'background-image': 'url('+ i.img +')'
                    }">
                  </div>                  
                </div>
              </div>
            
              <!-- Slider controls -->
              <a ng-hide="options.showFullSlider || images.all.idx === 0" 
                class="carousel-control-prev" href="javascript:void(0)" data-target="#car-main" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </a>
              <a ng-hide="options.showFullSlider || images.all.idx === images.all.imgArr.length - 1" 
                class="carousel-control-next" href="javascript:void(0)" data-target="#car-main" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </a>
            
              <!-- Full Screen Link -->
              <a href="javascript:void(0)" class="btn-exp" ng-click="showFullScreen('all')">
                <i class="fa fa-expand"></i>
              </a>
            
            </div>
          </div>

          <div id="car-main-thumb" class="col-xl-3 nano thumb-ctn">
            <div class="nano-content" when-scrolled="loadMore('all')">
              <div class="thumb-single" 
                ng-if="i.loaded" 
                ng-repeat="i in images.all.imgArr track by $index"
                ng-click="thumbClicked('all', $index)">
                <img class="img-fluid img-thumbnail" 
                  ng-class="{'active': $index === images.all.idx}"
                  ng-src="{{i.img}}" />
              </div>
            </div>            
          </div>
        </div>

      </div>
    </div> 

    <div class="section" id="section2">
      <div class="ifr-outer h-100 w-100 desktop-only">
        <div class="ifr-inner">
          <div class="ins-ctn mx-auto p-3 text-center">
            <h4 class="mb-2">Click here to access 3DVR</h4>
            <p class="note">NOTE: Mouse wheel and arrow key navigation to other sections will be disabled while in 3DVR
              section.</p>
            <p class="ins-img">
              <img src="img/ins-img.png" />
            </p>
            <p>Use the Tab Menu to navigate out of 3DVR</p>
            <form class="form-inline">
              <div class="col-auto">
                <div class="custom-control custom-checkbox mr-sm-2">
                  <input type="checkbox" ng-model="options.showIns" class="custom-control-input"
                    id="customControlAutosizing">
                  <label class="custom-control-label" for="customControlAutosizing">Don't show this again</label>
                </div>
              </div>
              <div class="col text-right">
                <button type="submit" ng-click="showIframe()" class="btn btn-skyblue btn-sm">Access 3DVR!</button>
              </div>
            </form>
          </div>
          <div class="ins-ptr mx-auto text-center">
            <!-- <img src="img/arr-up.png" /> -->
          </div>
        </div>
      </div>
      
      <div class="ifr-ctn">
        <h3 class="tab-only mb-4" style="color: black;">3DVR View</h3>      
        <iframe class="h-100 w-100" ng-src="{{ currMpUrl | trusted }}" frameborder="0" allowfullscreen="" allow="vr"></iframe>        
      </div>
    </div>
   
    <div class="section" id="section3">
      <div class="container-fluid h-100 px-4 pb-4">
        <h3 class="tab-only mb-4">Floorplan Images</h3>
        <!-- Floorplan Main Slider -->
        <div class="row h-100">
          <div class="col-xl-9 carousel-ctn">
            <!-- Slider Carousel -->
            <div id="car-fp" class="carousel-plh h-100" data-interval="false">

              <!-- Slides -->
              <div class="carousel-inner h-100">
                <div class="carousel-item h-100" 
                  ng-repeat="i in images.fpImg.imgArr track by $index"
                  ng-class="{'active': images.fpImg.idx == $index}">
                  <div class="h-100 w-100" 
                    ng-style="{
                      'background-image': 'url('+ i.img +')'
                    }">
                  </div>
                </div>
              </div>

              <!-- Slider controls -->
              <a ng-hide="options.showFullSlider || images.fpImg.idx === 0"
                class="carousel-control-prev" href data-target="#car-fp" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </a>
              <a ng-hide="options.showFullSlider || images.fpImg.idx === images.fpImg.imgArr.length - 1"
                class="carousel-control-next" href data-target="#car-fp" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </a>

              <!-- Full Screen Link -->
              <a href class="btn-exp" ng-click="showFullScreen('fpImg')">
                <i class="fa fa-expand"></i>
              </a>

            </div>
          </div>
          
          <div id="car-fp-thumb" class="col-xl-3 nano thumb-ctn">
            <div class="nano-content" when-scrolled="loadMore('fpImg')">
              <div class="thumb-single" 
                ng-if="i.loaded" 
                ng-repeat="i in images.fpImg.imgArr track by $index"
                ng-click="thumbClicked('fpImg', $index)">
                <img class="img-fluid img-thumbnail" 
                  ng-class="{'active': $index === images.fpImg.idx}"
                  ng-src="{{i.img}}" />
              </div>
            </div>            
          </div>
        </div>

      </div>
    </div>

    <div class="section" id="section4">
      <div class="container-fluid h-100 px-4 pb-4">
        <h3 class="tab-only mb-4">Map Images</h3>
        <!-- Maps Main Slider -->
        <div class="row h-100">
          <div class="col-xl-9 carousel-ctn">
            <!-- Slider Carousel -->
            <div id="car-map" class="carousel-plh h-100" data-interval="false">

              <!-- Slides -->
              <div class="carousel-inner h-100">
                <div class="carousel-item h-100" 
                  ng-repeat="i in images.mapImg.imgArr track by $index"
                  ng-class="{'active': images.mapImg.idx == $index}">
                  <div class="h-100 w-100" 
                    ng-style="{
                      'background-image': 'url('+ i.img +')'
                    }">
                  </div>
                </div>
              </div>

              <!-- Slider controls -->
              <a ng-hide="options.showFullSlider || images.mapImg.idx === 0"
                class="carousel-control-prev" href data-target="#car-map" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </a>
              <a ng-hide="options.showFullSlider || images.mapImg.idx === images.mapImg.imgArr.length - 1"
                class="carousel-control-next" href data-target="#car-map" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </a>

              <!-- Full Screen Link -->
              <a href class="btn-exp" ng-click="showFullScreen('mapImg')">
                <i class="fa fa-expand"></i>
              </a>

            </div>
          </div>

          <div id="car-map-thumb" class="col-xl-3 nano thumb-ctn">
            <div class="nano-content" when-scrolled="loadMore('mapImg')">
              <div class="thumb-single" 
                ng-if="i.loaded" 
                ng-repeat="i in images.mapImg.imgArr track by $index"
                ng-click="thumbClicked('mapImg', $index)">
                <img class="img-fluid img-thumbnail" 
                  ng-class="{'active': $index === images.mapImg.idx}"
                  ng-src="{{i.img}}" />
              </div>
            </div>            
          </div>
        </div>

      </div>
    </div>

    <div class="section" id="section5">
      <div class="container-fluid h-100 px-4 pb-4">
        <h3>Services content here</h3>
      </div>
    </div>

    <div class="section tab-only" id="section6">
      <div class="container-fluid h-100 px-4 pb-4">
        <h3 class="mb-4">Book Now</h3>
        <div class="row h-100 justify-content-center align-items-center">
          <form class="col-md-12 enq-form">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" ng-model="options.bookNowForm.name" placeholder="Enter name">
            </div>
            <div class="form-group">
              <label>Production Type</label>
              <select class="form-control" ng-options="o for o in options.bookNowForm.prodType" ng-model="options.bookNowForm.prodTypeSel">
                <option value="">-- Select an Option --</option>
              </select>
            </div>          
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Start Date</label>
                <input type="date" ng-model="options.bookNowForm.from" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label>End Date</label>
                <input type="date" ng-model="options.bookNowForm.to" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label>Cast, Crew & Guests</label>
              <select class="form-control" ng-options="o for o in options.bookNowForm.noPeople" ng-model="options.bookNowForm.noPeopleSel">
                <option value="">-- Select an Option --</option>
              </select>
            </div>
            <div class="form-group">
              <label>Day Length</label>
              <select class="form-control" ng-options="o for o in options.bookNowForm.dayLength" ng-model="options.bookNowForm.dayLengthSel">
                <option value="">-- Select an Option --</option>
              </select>
            </div>
            <div class="form-group">
              <button type="button" ng-click="submitForm()" class="btn btn-success btn-lg btn-block mt-3">Submit Inquiry</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="img-overlay-ctn h-100 w-100" ng-show="options.showFullSlider">
    <div class="loc-info">      
      <div class="br-item" ng-repeat="o in options.titleArr track by $index">
        <a class="p-0 d-inline-block">{{o}}</a>&nbsp;/<span ng-if="$index < options.titleArr.length - 1">&nbsp;</span>
      </div>
      <a class="p-0 d-inline-block">{{options.currProperty.name}}</a>
      /&nbsp;{{loc.value}}&nbsp;/&nbsp;Images
    </div>
  
    <img class="spinner-img" src="img/spin.svg" />
  
    <div class="badge-ctn">
      <span class="badge badge-light badge-pill" ng-click="hideFullScreen()">
        <i class="fa fa-times"></i><br />
        <span class="pill-text">ESC</span>
      </span>      
    
      <div class="filter-outer" ng-show="options.currFullSlider === 'all'">
        <span class="badge badge-light badge-pill badge-filter" ng-click="options.showFilterFS = true">
          <i class="fa fa-sliders"></i>
          <div class="filter-close text-white" ng-show="options.currFilter!='all'" ng-click="filterImages('all', 0)">
            <i class="fa fa-times"></i>
          </div>
        </span>
        <div class="filter-ctn p-4" ng-show="options.showFilterFS" ng-mouseleave="options.showFilterFS = false">
          <button class="btn btn-light btn-sm" ng-click="filterImages('all', 0)"
            ng-class="{'btnActive' : options.currFilter == 'all'}">All Images</button>
          <button class="btn btn-light btn-sm">Interiors</button><br />
          <button class="btn btn-light btn-sm">Exteriors</button>
          <button class="btn btn-light btn-sm">Walls</button><br />
          <button class="btn btn-light btn-sm">Ceilings</button>
          <button class="btn btn-light btn-sm">Floors</button><br />
          <button class="btn btn-light btn-sm" ng-click="filterImages('stair', 0)"
            ng-class="{'btnActive' : options.currFilter == 'stair'}">Stairways</button>
          <button class="btn btn-light btn-sm">Bathrooms</button><br />
          <button class="btn btn-light btn-sm">Parking</button>
        </div>
      </div>
    </div>
  
    <!-- Full Slider Carousel -->
    <div id="car-full" class="carousel slide h-100" data-interval="false">
  
      <!-- Slides -->
      <div class="carousel-inner h-100">
        <div class="carousel-item h-100"
          ng-repeat="i in images.full.imgArr track by $index"
          ng-class="{'active': images.full.idx == $index}">
          <div class="h-100 w-100" 
              ng-style="{
                'background-image': 'url('+ i.img +')'
              }">
          </div>
        </div>
      </div>
  
      <!-- Slider controls -->
      <a ng-hide="images.full.idx === 0" 
        class="carousel-control-prev" href="javascript:void(0)" data-target="#car-full" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a ng-hide="images.full.idx === images.full.imgArr.length - 1" 
        class="carousel-control-next" href="javascript:void(0)" data-target="#car-full" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>

  <div class="desktop-only" id="book-now-ctn">
    <div class="container-fluid h-100 py-2">
      <div class="badge-ctn">
        <span class="badge badge-light badge-pill" ng-click="toggleBookNow()">
          <i class="fa fa-times"></i><br />
          <span class="pill-text">ESC</span>
        </span>
      </div>
      <div class="row h-100 justify-content-center align-items-center">
        <form class="col-md-12 col-lg-8 enq-form">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="options.bookNowForm.name" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label>Production Type</label>
            <select class="form-control" ng-options="o for o in options.bookNowForm.prodType" ng-model="options.bookNowForm.prodTypeSel">
              <option value="">-- Select an Option --</option>
            </select>
          </div>          
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Start Date</label>
              <input type="date" ng-model="options.bookNowForm.from" class="form-control">
            </div>
            <div class="form-group col-md-6">
              <label>End Date</label>
              <input type="date" ng-model="options.bookNowForm.to" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label>Cast, Crew & Guests</label>
            <select class="form-control" ng-options="o for o in options.bookNowForm.noPeople" ng-model="options.bookNowForm.noPeopleSel">
              <option value="">-- Select an Option --</option>
            </select>
          </div>
          <div class="form-group">
            <label>Day Length</label>
            <select class="form-control" ng-options="o for o in options.bookNowForm.dayLength" ng-model="options.bookNowForm.dayLengthSel">
              <option value="">-- Select an Option --</option>
            </select>
          </div>
          <div class="form-group">
            <button type="button" ng-click="submitForm()" class="btn btn-success btn-lg btn-block mt-3">Submit Inquiry</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div ng-show="options.showLoaderSection" class="spinner sp-sec w-100 bg-white">
    <img src="img/spin-dark.svg" />
  </div>

  <div ng-show="options.showLoaderMain" class="spinner h-100 w-100 bg-light">
    <img src="img/spin-dark.svg" />    
  </div> 
</div>