<div class="menu pt-2">
  <div class="container-fluid px-4">
    <div>
      <div class="header">
        <div class="br-item" ng-repeat="o in options.titleArr">
          <a href class="nav-link p-0 d-inline-block">{{o}}</a>&nbsp;/&nbsp;
        </div>
        <a href class="p-0 d-inline-block nav-link position-relative" style="left:-5px;">{{options.currProperty.value}}</a>
      </div>
      <div class="pull-right right-icons">
        <span>            
          <i class="fa fa-bars"></i>
        </span>
        <span class="ml-2">            
          <i class="fa fa-user"></i>
        </span>
      </div>
      <div class="mt-4 form-row">
				<input type="text" ng-model="options.searchStr" placeholder="Enter Keywords" class="form-control col-md-2">
				<select class="form-control col-md-2 ml-2">
					<option value="">Choose Category</option>
				</select>
				<select class="form-control col-md-2 ml-2">
					<option value="">Sort By</option>
				</select>
      </div>
    </div>
  </div>    
</div>

<div class="container-fluid h-100 section-search noselect">
  <div class="row p-2 h-100 pb-4">
  	<div class="col-md-12 p-0 info-ctn nano">
  		<div class="row pl-3 info-ctn-inner w-100 nano-content">
	  		<div class="loc-box m-0 p-1 col-md-4 col-sm-12" ng-repeat="l in options.locations | filter: {desc: options.searchStr}" ng-mouseenter="hoverLoc(l)"
	  		>
		  		<div class="loc-inner h-100" style="background: url({{l.bg}}) no-repeat center; background-size: cover;">
						<div class="loc-opts w-100">
							<div class="loc-title px-2 mb-2">
								{{l.value}}<br/>
								<div>{{l.desc}}</div>
							</div>
							<div class="loc-btn text-center">
								<div class="loc-btn-sng" ng-click="openDetail('info')">
									<i class="fa fa-info"></i><br/>Info
								</div>
								<div class="loc-btn-sng" ng-click="openDetail('images')">
									<i class="fa fa-camera"></i><br/>Images
								</div>
								<div class="loc-btn-sng" ng-click="openDetail('3dvr')">
									<i class="fa fa-building"></i><br/>3DVR
								</div>
								<div class="loc-btn-sng" ng-click="openDetail('floorplan')">
									<i class="fa fa-dot-circle-o"></i><br/>Floorplan
								</div>
								<div class="loc-btn-sng" ng-click="openDetail('maps')">
									<i class="fa fa-map-marker"></i><br/>Maps
								</div>
								<div class="loc-btn-sng" ng-click="openDetail('services')">
									<i class="fa fa-th-list"></i><br/>Services
								</div>
							</div>
						</div>
					</div>
	  		</div>
  		</div>
  	</div>
	</div>
</div>
